# {{contact.name}}

<div id="contact">
    <ul>
        <li>Email: {{contact.email}}</li>
        <li>Phone: Available by request</li>
        {{#contact.profiles}}
        <li>{{network}}: {{url}}</li>
        {{/contact.profiles}}
    </ul>
</div>

*{{contact.summary}}*

## Skills
{{#skills}}
- {{name}} ({{level}})
{{/skills}}

## Work History
{{#work}}
### {{name}}
**{{position}} ({{startDate}} to {{endDate}})**

*{{summary}}*

Highlights:
{{#highlights}}
  - {{.}}
{{/highlights}}

<p class="tech">Tech Used:</p>

{{#tech}}
  - {{.}}
{{/tech}}

{{/work}}

## Education
{{#education}}
**{{institution}} ({{startDate}}-{{endDate}})**

{{degree}}, {{score}}
{{/education}}
